#Developer files
.project
.settings/
.idea/
.directory
.buildpath
*.iml

#Ignore Build/Dependency Files
node_modules/

build/*
!wp-config.php
civi.zip

params/
vendor/
wp-content/
tmp/
docker-compose.yml

#Github Wordpress Ignores
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
/readme.html
/license.txt